@charset "utf-8";


/* ----------------------------------------------------------------------
 基本設定
---------------------------------------------------------------------- */
/* レイアウト */
#container { position:relative; height:100%; }
#main_contents { width:auto; padding:0; margin:0 auto; display:block; }
#main_contents:after { display:none; }
#main_col { width:auto; margin:0 auto; padding:0; }
body.page #main_contents { padding-top:60px; padding-bottom:60px; }
body.page #main_col { padding-top:0px; }
body.hide_sidebar #main_col { width:auto; padding-top:0px; }
body.no_index_header_content #container { padding-top:60px; }
#side_col {
  width:auto; max-width:770px; margin:70px auto 0; position:relative; z-index:2; padding:70px 0;
  display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
  -ms-flex-wrap:wrap; -webkit-flex-wrap:wrap; flex-wrap:wrap;
}
#side_col:after {
	position:absolute; top:0px; content:''; width:calc(100vw + 100px); height:100%; background:#eee; z-index:1;
  left:50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%);
}
body.page.page-template-page-lp #header + #container  #bread_crumb {
  margin-top: 60px;
}

body.page.hide_global_menu.hide_header_logo #header + #container  #bread_crumb {
  margin-top: 0;
}

body.page #header + #container #page_header + #lp_page_content  #bread_crumb {
  margin-top: 0;
}

body.page-template-default.hide_global_menu.hide_header_logo #header + #container #bread_crumb {
  margin-top: -40px;
}


@media screen and (max-width:900px) {
  #main_contents { display:block; }
  #main_col { width:auto !important; margin-bottom:40px; padding:0 20px; }
  #side_col { width:auto; margin:0 auto; display:block; max-width:365px; }
	#main_contents:after { display:none; }
}
@media screen and (max-width:750px) {
  body.page #main_contents { padding-top:40px; padding-bottom:40px; }
  body.single-post #main_col { margin-bottom:0; }
  #side_col { padding:40px 20px; }
  body.page-template-page-lp #bread_crumb + .lp_content{
    margin-top: -20px;
  }
}
@media screen and (max-width:550px) {
  #side_col { max-width:inherit; }
}


/* ドロワーメニュー */
#drawer_menu {
  display:block; position:fixed; top:0px; right:-400px; width:400px; height:100%; background:#333; overflow:auto; z-index:9999;
  -webkit-transition:right 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000); transition:right 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-backface-visibility: hidden; backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}
.open_menu #drawer_menu { right:0; box-shadow:-5px 0 20px 0 rgba(0,0,0,0.4); }
@media screen and (max-width:500px) {
  #drawer_menu { right:-80%; width:80%; }
}


/* ドロワーメニュー展開時のオーバーレイ */
.open_menu #container:before {
  content:''; display:block; width:100%; height:100%; position:fixed; top:0px; left:0px; background:rgba(0,0,0,0.6); z-index:9999;
}
/* safariとedgeのみ背景をぼかす */
_::-webkit-full-page-media, _:future, :root .open_menu #container:before { background:rgba(0,0,0,0.6); -webkit-backdrop-filter:blur(10px); backdrop-filter:blur(10px); }
@supports (-ms-ime-align: auto) {
  .open_menu #container:before { background:rgba(0,0,0,0.6); -webkit-backdrop-filter:blur(10px); backdrop-filter:blur(10px); }
}
/* ぼかしはここまで */


/* ドロワーメニューのスクロールバー */
#drawer_menu .simplebar-scrollbar:before { background:#fff !important; }


/* admin bar利用時 */
body.admin-bar { padding-top:32px; }
body.admin-bar.header_fix_mobile #header { margin-top:32px; }
body.admin-bar #drawer_menu { padding-top:32px; }
.mobile body.admin-bar.header_fix_mobile { padding-top:102px; }
@media screen and (max-width:781px) {
  body.admin-bar { padding-top:46px; }
  body.admin-bar.header_fix_mobile #header { margin-top:46px; }
  body.admin-bar #drawer_menu { padding-top:46px;}
  body.admin-bar.fixed_find_menu #find_menu_wrap { top:46px; }
  body.admin-bar.fixed_find_menu { padding-top:106px; }
  .mobile body.admin-bar.header_fix_mobile { padding-top:126px; }
}


/* デザインボタン */
@media screen and (max-width:750px) {
  .design_button { height:50px; }
  .design_button a { min-width:240px; height:50px; line-height:50px; font-size:14px; padding:0 15px;  }
}


/* デザインリスト */
@media screen and (max-width:950px) {
  .design_list { margin:30px 0 20px; }
  .design_list.two_list { display:block; }
  .design_list.two_list &gt; table, .design_list.two_list &gt; div.s_table { width:100% !important; }
  .design_list.two_list &gt; table:first-of-type, .design_list.two_list &gt; div.s_table:first-of-type { margin-bottom:52px; }
  .design_list th { width:120px !important; }
	.design_list.two_list th { width:120px !important; } 
}
@media screen and (max-width:750px) {
	.design_list.two_list &gt; table:first-of-type { margin-bottom:40px; }
}


/* SLOARIS用ロード画面 */
@media screen and (max-width:750px) {
  body.use_loading_screen.load_screen_animation_type2 #container {  transform: translate3d(0px, 30px, 0px); }
  body.use_loading_screen.load_screen_animation_type3 #container { transform: translate3d(0px, -30px, 0px); }
}




/* ----------------------------------------------------------------------
 トップページ　ヘッダーコンテンツ
---------------------------------------------------------------------- */
#header_slider_wrap { height:700px; }
#header_slider { height:700px; }
#header_slider .item { height:700px; }
#header_slider .caption { width:100%; padding:0 60px; max-width:1150px; }
@media screen and (max-width:950px) {
  #header_slider_wrap { height:600px; }
  #header_slider { height:600px; }
  #header_slider .item { height:600px; }
  #header_slider .caption { padding:0 40px; }
}
@media screen and (max-width:750px) {
  #header_slider_wrap { height:540px; }
  #header_slider { height:540px; }
  #header_slider .item { height:540px; }
  #header_slider .caption { padding:0 20px; }
  #header_slider .catch { font-weight:600 !important; }
  #header_slider .bg_image.pc { display:none; }
  #header_slider .bg_image.mobile { display:block; }
	#header_slider .caption .catch_list .parent { padding:15px 15px 12px; }
}


/* ヘッダーコンテンツを表示しない場合 */
body.no_index_header_content #index_content_builder { padding:80px 0 0 0; }




/* ----------------------------------------------------------------------
 トップページ　その他
---------------------------------------------------------------------- */
/* 共通設定 */
.cb_content:last-of-type { padding-bottom:100px; }
@media screen and (max-width:750px) {
  .cb_headline .sub_headline { font-size:14px; }
	.white_content + .white_content { padding-top:0px !important; }
	.cb_content:last-of-type { padding-bottom:40px; }
	.cb_content_header { margin:0 0 33px 0; padding:0 20px; }
	.cb_content_header.no_desc { margin:0 0 20px 0; }
	.cb_content_header p { line-height:2; }
	.cb_content_header .desc { margin-top:7px; }
}


/* ニュースティッカー */
#index_news_ticker { width:100%; }
@media screen and (max-width:950px) {
	#index_news_ticker .item { padding:13px 20px 0; display:block; }
	#index_news_ticker .date { margin-bottom:5px; font-size:12px; }
	#index_news_ticker .title { max-width:100%;  }
}


/* ヘッダーカルーセル */
@media screen and (max-width:950px) {
  #index_carousel { height:175px; }
  #index_carousel .item { width:230px; height:180px; margin:0 5px; }
  #index_carousel .image { height:85px; top:15px; }
  #index_carousel .content { height:148px; }
  #index_carousel .category { font-size:12px; }
	#index_carousel.layout_type2 { height:270px; }
  #index_carousel.layout_type2 .item { height:270px; }
  #index_carousel.layout_type2 .image { height:170px }
  #index_carousel.layout_type2 .content { height:240px; top:15px; }
	#index_carousel .title_area { padding:5px 30px 0 15px; }
  #index_carousel.owl-carousel .owl-nav .owl-prev { left:10px; }
  #index_carousel.owl-carousel .owl-nav .owl-next { right:10px; }
  #index_carousel.owl-carousel[dir="rtl"] .owl-nav .owl-prev { right:10px; }
  #index_carousel.owl-carousel[dir="rtl"] .owl-nav .owl-next { left:10px; }
}
@media screen and (max-width:750px) {
  #index_carousel .owl-item.hover a:hover .content {  bottom:20px; }
  #index_carousel .item a:hover{opacity: .9; }
  #index_carousel { margin-bottom:-20px; }
  #index_carousel .item { margin:0 3px; }
	#index_carousel .content_inner { height:56px;  }
	#index_carousel .title_area { padding:5px 30px 0 12px; }
  #index_carousel .title { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; visibility:visible; direction:ltr; }
  #index_carousel.owl-carousel .owl-item.center .content { opacity:1; bottom:20px; }
  #index_carousel.owl-carousel .owl-nav { display:none; }
}



/* ギャラリー */
.cb_gallery_content_inner { width:auto; margin:0 60px; padding:120px 0; }
.cb_gallery_row .desc { padding:30px; font-size:14px; }
.cb_gallery_row.layout_type5 .desc { padding:90px 100px !important; font-size:16px; }
body.page-template-page-lp .cb_gallery_row:first-of-type .item .desc { padding-top:30px; }
body.page-template-page-lp .cb_gallery_row .item:first-of-type .desc { padding-left:30px; }
body.page-template-page-lp .cb_gallery_row .item:last-of-type .desc { padding-right:30px; }
@media screen and (max-width:1050px) {
  .cb_gallery_row .item.content_type2 { order:1; }
  .cb_gallery_row .item.content_type1 { order:2; }
	.cb_gallery_row .item { height:280px; -ms-flex: 1 0 auto; -webkit-flex: 1 0 auto; flex: 1 0 auto; }
  .cb_gallery_row .item.content_type2 { width:100%; height:auto; }
	.cb_gallery_row.has_desc .item.content_type1 { min-height:280px; height:auto; }
  .cb_gallery_row.layout_type2.has_desc .item.content_type2 { width:100%; }
  .cb_gallery_row.layout_type2.has_desc .item.content_type1 { width:100%; }
	.cb_gallery_row .desc { padding-left:0 !important; padding-right:0 !important; }
	body.page-template-page-lp .cb_gallery_row .desc { padding-left:30px !important; padding-right:30px !important; }
  body.page-template-page-lp .cb_gallery_row .item:first-of-type .desc { padding-left:30px; }
  body.page-template-page-lp .cb_gallery_row .item:last-of-type .desc { padding-right:30px; }
}
.cb_gallery_content_inner{ width:auto !important; }
@media screen and (max-width:950px) {
  .cb_gallery_content_inner { margin:0 40px;}
	.cb_gallery_row .item { height:240px; }
	.cb_gallery_row.has_desc .item.content_type1 { min-height:240px; }
  .cb_gallery_row.layout_type5 .desc { padding:50px 60px !important; }
}
@media screen and (max-width:750px) {
  #index_carousel + #index_content_builder &gt; div:first-of-type.cb_gallery_content{
    margin-top: 20px;
  }
  .cb_gallery_content_inner {  margin: 0 20px; padding:40px 0; }
	.cb_gallery_row .item { height:200px; }
	.cb_gallery_row.has_desc .item.content_type1 { min-height:200px; }
  .cb_gallery_row .desc { line-height:2; padding-left:20px !important; padding-right:20px !important; font-size:inherit; }
  .cb_gallery_row.layout_type5 .desc { padding:35px 30px !important; font-size:inherit; }
	body.page-template-page-lp .cb_gallery_row .desc { padding-left:20px !important; padding-right:20px !important; }
  body.page-template-page-lp .cb_gallery_row:first-of-type .item .desc { padding-top:20px !important; }
  body.page-template-page-lp .cb_gallery_row .item:first-of-type .desc { padding-left:20px !important; }
  body.page-template-page-lp .cb_gallery_row .item:last-of-type .desc { padding-right:20px !important; }
	.cb_gallery_content .design_button { margin-top:40px; }
}
@media screen and (max-width:550px) {
	.cb_gallery_row .item { height:130px; }
	.cb_gallery_row.has_desc .item.content_type1 { min-height:130px; }
}


/* ショールーム */
@media screen and (max-width:1050px) {
  .index_showroom_list .item { height:250px; }
  .index_showroom_list .category { font-size:12px; min-width:130px; padding:0 15px; height:35px; line-height:35px; }
  .index_showroom_list .icon { width:60px; height:60px; top:10px; right:10px; font-size:11px; }
	.index_showroom_list .title { line-height:50px; height:50px; }
	.index_showroom_list .title:before { font-size:12px; right:20px; }
  @-webkit-keyframes arrow_move_right {
    0% { right:20px; }
    50% { right:10px; }
    100% { right:20px; }
  }
  @keyframes arrow_move_right {
    0% { right:20px; }
    50% { right:10px; }
    100% { right:20px; }
  }
}
 .cb_showroom_list .cb_content_header { padding:35px 60px 0; }
@media screen and (max-width:950px) {
  .index_showroom_list .item { width:50%; }
	.index_showroom_list .title { bottom:0; }
	.index_showroom_list .title:before { animation:none; }
  .cb_showroom_list .cb_content_header { padding:35px 40px 0; }
}
@media screen and (max-width:750px) {
	.cb_showroom_list { padding:0 0 40px 0; }
	.index_showroom_list .title { padding:0 15px; }
	.index_showroom_list .title:before { right:15px; }
  .cb_showroom_list .design_button { margin-top:40px; }
}
@media screen and (max-width:550px) {
  .index_showroom_list .item { width:100%; height:225px; }
	.index_showroom_list .title { line-height:45px; height:45px; }
}


/* ブログ一覧 */
.cb_blog_list { width:auto; margin:0 auto; }
.cb_blog_list .cb_content_header{
  padding: 0 60px;
}
@media screen and (max-width:950px) {
  .cb_blog_list .cb_content_header{
    padding: 0 40px;
  }
	.cb_blog_list { padding:35px 0 40px; }
  .cb_blog_list .design_button { margin-top:40px; }
}

/* バナーコンテンツ */
@media screen and (max-width:950px) {
  .cb_banner_content { height:500px; }
  .cb_banner_content .banner_content_inner { margin:0 20px; width:auto; }
}
@media screen and (max-width:750px) {
  #index_carousel + #index_content_builder &gt; div:first-of-type.cb_banner_content{
    margin-top: 20px;
  }
  .cb_banner_content { height:360px; }
  .cb_banner_content .banner_content_inner { margin:0 40px;  }
  .cb_banner_content .bg_image.pc { display:none; }
  .cb_banner_content .bg_image.mobile { display:block; }
  .cb_banner_content .catch { }
  .cb_banner_content .desc { line-height:2; margin:5px 0 0 0; }
  .cb_banner_content .design_button { margin-top:12px; }
}



/* フリースペース */
.cb_free_space.type1 { width:auto; padding:0 60px; border:none; }
.cb_free_space.type2 { width:auto; }
@media screen and (max-width:950px) {
  .cb_free_space.type1 { padding:0 40px; }
}
@media screen and (max-width:750px) {
  .cb_free_space.type1 { padding:0 20px; }
  .cb_free_space.type1 .cb_content_header{
    padding: 0 20px;
  }
  .cb_free_space.type2 .cb_content_header{
    padding: 0 40px;
  }
}


/* デモサイト */
@media screen and (max-width:750px) {
  .top_demo_free_space .design_button { margin-top:40px; }
}




/* ----------------------------------------------------------------------
 固定ページ
---------------------------------------------------------------------- */
/* フリースペース */
.lp_free_space_inner { width:auto !important; }
.lp_free_space.type1 .lp_free_space_inner { margin:0 60px; }
@media screen and (max-width:950px) {
  .lp_free_space.type1 .lp_free_space_inner { margin:0 40px; }
}
@media screen and (max-width:750px) {
  .lp_free_space.type1 .lp_free_space_inner { margin:0 20px; }
	.lp_free_space .cb_content_header { margin:0 0 33px 0; }
}


/* フロー */
.lp_flow_inner { width:auto !important; margin:0 60px; }
@media screen and (max-width:950px) {
  .lp_flow_inner { margin:0 40px; }
	.flow_list .item { width:calc(50% - 10px); margin:0 20px 40px 0; }
	.flow_list .item .image { height:230px; }
}
@media screen and (max-width:750px) {
	.lp_flow { color:#fff; padding:37px 0 0px; }
  .lp_flow_inner { margin:0 20px; }
	.flow_list .item { width:100%; margin:0 0 30px 0; }
	.flow_list .item .title_area { height:87px; }
	.flow_list .item .headline { width:70px; height:70px; top:9px; left:9px; }
	.flow_list .item .headline span.top { font-size:11px; margin:5px 0 5px 0; }
	.flow_list .title {	font-size:14px; max-height:4.8em; padding:0 30px 0 90px; }
  .flow_list .title span { -webkit-line-clamp:3; }
	.flow_list .item .image { height:200px; }
	.flow_list .item .desc { line-height:2; }
}
@media screen and (max-width:550px) {
	.flow_list .item .image { height:150px; }
}


/* ベネフィット */
.lp_benefit_inner { width:auto !important; margin:0 60px; }
.benefit_list .content .desc { padding:0 40px; }
@media screen and (max-width:950px) {
  .lp_benefit_inner { margin:0 40px; }
  .benefit_list .item .image { width:300px; }
  .benefit_list .title { font-size:16px; }
  .benefit_list .content { width:calc(100% - 300px); }
}
@media screen and (max-width:750px) {
  .lp_benefit_inner { margin:0 20px; }
  .benefit_list .item { display:block; margin:0 0 20px 0; }
  .benefit_list .item .image { width:100%; height:280px; }
	.benefit_list .title { font-size:16px; padding:10px 25px; }
  .benefit_list .content { width:100%; height:auto; }
	.benefit_list .content .desc {
    position:relative; padding:20px 25px;
	  top:auto; -ms-transform: translateY(0%); -webkit-transform: translateY(0%); transform: translateY(0%);
  }
  .benefit_list .content .desc p { line-height:2; }
}
@media screen and (max-width:550px) {
  .benefit_list .item .image { height:180px; }
}


/* FAQ */
@media screen and (max-width:750px) {
  .faq_list { margin:0 0 40px; }
  .faq_list .question { font-size:14px !important; padding:15px 45px 11px 20px !important; }
  .faq_list .question:before { right:17px; top:0; bottom:0; width:9px; height:1px; margin:auto; }
  .faq_list .question:after { right:21px; top:0; bottom:0; width:1px; height:9px; margin:auto;}
  .faq_list .answer { padding:15px 20px 15px; }
  .faq_list .answer p { line-height:2; }
}


/* LPページ */
#demo_lp_flow .content .image { width:calc(50% - 15px); }
#demo_lp_flow .content .desc { width:calc(50% + 15px); padding:0 0 0 30px; }
@media screen and (max-width:750px) {
  #demo_lp_top_image { margin-bottom:40px; }
	#demo_lp_flow { margin:30px 0; }
	#demo_lp_flow .item { margin:0 0 33px 0; }
}
@media screen and (max-width:550px) {
  #demo_lp_flow .content .image { width:100%; }
  #demo_lp_flow .content .desc { width:100%; padding:15px 0 0 0; }

}




/* ----------------------------------------------------------------------
 ショールームアーカイブページ
---------------------------------------------------------------------- */
#showroom_archive {margin:115px 0 70px; width:auto; }
#showroom_sort_button .simplebar-scrollbar { display:none !important; }
#showroom_sort_button a { font-size:12px; }
body.archive #showroom_sort_button { margin-top: 0px; }
#archive_header_desc + #showroom_sort_button { margin-top: 40px; }
@media screen and (max-width:950px) {
  #showroom_archive #showroom_sort_button{
    margin-right: -20px;
    margin-left: -20px;
  }
  body.post-type-archive-showroom #showroom_sort_button{ margin-left: -20px; margin-right: -20px; }
  #showroom_sort_button.category_center ul {
    justify-content: unset;
  }
  #showroom_sort_button .simplebar-scrollbar { display:block !important; }
  #showroom_sort_button {
    width:auto; height:70px; overflow:auto; 
    -webkit-backface-visibility: hidden; backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    margin-top: 0;
  }
  #showroom_sort_button ul { position:relative; height:50px; width:auto; display:flex; flex-wrap:nowrap; }
  #showroom_sort_button li { width:auto; min-width:120px; margin:0 -1px 0 0;  -ms-flex: 1 0 auto; -webkit-flex: 1 0 auto;  flex: 1 0 auto; max-width: 130px;}
  #showroom_sort_button li:first-child{ padding-left: 20px;}
  #showroom_sort_button li:last-child{ padding-right: 20px;}
  #showroom_sort_button li a { padding:0 15px; height:50px; line-height:50px; }
	#showroom_list .item { width:calc(50% - 10px); margin:0 10px 10px 0; }
}
@media screen and (max-width:750px) {
  #showroom_sort_button.category_center_mobile ul{justify-content: center;}
  #showroom_sort_button.category_center_mobile li{max-width: 40%;}
  #showroom_archive { margin:  40px 20px;}
  #showroom_sort_button { height:70px;margin-bottom:20px; }
	#showroom_list .image_wrap { height:200px; }
	#showroom_list .title { line-height:45px; height:45px; }
	#showroom_list .category { height:45px; line-height:45px; }
	#showroom_list .icon { width:60px; height:60px; top:10px; right:10px; font-size:11px; }
}
@media screen and (max-width:550px) {
	#showroom_list { margin-right:0; margin-bottom:-6px; }
	#showroom_list .item { width:100%; margin:0 0 6px 0; }
}




/* ----------------------------------------------------------------------
 ショールーム詳細ページ
---------------------------------------------------------------------- */
#showroom_single #bread_crumb { width:auto; margin:0; }
#showroom_title_area { width:auto; margin:45px auto 60px; max-width:900px; }
#showroom_carousel img { max-width:calc(100vw - 140px); height:auto; margin:0 -50px; }
#showroom_carousel_wrap .nav_item { width:calc(50vw / 2 - 200px); }
#showroom_single #article { width:auto; max-width:900px; margin:0 auto; }
@media screen and (max-width:950px) {
	#showroom_carousel .swiper-slide { max-width:calc(100% - 120px); }
  #showroom_title_area { margin:45px 60px 60px; }
	#showroom_title_area_bottom { display:block; }
	#showroom_title_area_bottom .item:last-of-type { margin-top:20px; }
	#showroom_title_area_bottom .category { margin:0 0 10px 0; font-size:12px; }
	#showroom_title_area_bottom .price_label { margin:0 0 10px 0; font-size:12px; text-align:left; }
  #showroom_title_area_bottom .price { font-size:24px; text-align:left; }
  #showroom_single #article { margin:0 60px; }
	#showroom_gallery_wrap { margin-top:37px; }
  #showroom_gallery .item { height:400px; }
  #showroom_gallery_nav .owl-item { height:88px; width:calc(25% - 10px) !important; }
}
@media screen and (max-width:750px) {
	#showroom_carousel_wrap { margin:0 0 20px 0; }
	#showroom_carousel .swiper-slide { max-width:calc(100% - 40px); }
	#showroom_carousel_wrap .slide-num { padding:20px 0 0 0; }
  #showroom_title_area { margin:20px 20px 15px; }
	#showroom_title_area .category { font-size:12px; margin:0 auto 5px; }
	#showroom_title_area_bottom { padding:20px 25px 20px 20px; margin-bottom:35px; }
  #showroom_single #article { margin:0 20px; padding-bottom:40px; }
	#showroom_single .showroom_spec h3 { height:50px; line-height:50px; font-size:14px; }
	#showroom_single .showroom_spec .content { line-height:2em; }
	#showroom_gallery_wrap .headline { font-size:20px; margin:0 0 20px 0; }
  #showroom_gallery .item { height:300px; }
	#showroom_gallery p { bottom:15px; font-size:12px; padding:10px 15px; max-width:calc(100% - 30px); }
	#showroom_gallery .owl-item.active .item p { transform:translate(15px,0); }
	#showroom_gallery_wrap .desc { line-height:2em; margin:13px 0 -13px; }
  #showroom_button { margin-top:45px; }
}
@media screen and (max-width:550px) {
  #showroom_gallery .item { height:200px; }
	#showroom_gallery_nav { padding-top:5px; width:calc(100% + 5px); margin-bottom:-5px; }
	#showroom_gallery_nav .owl-item { height:65px; margin:0 5px 5px 0 !important; width:calc(100% / 3 - 5px) !important; }
	#showroom_gallery_nav .owl-item .image { height:65px; }
}


/* フッターカルーセル */
#showroom_footer_carousel #showroom_list { width:auto; margin:0 60px; }
#showroom_footer_carousel .owl-nav .owl-prev { left:-40px; }
#showroom_footer_carousel .owl-nav .owl-next { right:-40px; }
@media screen and (max-width:750px) {
	#showroom_footer_carousel { background:#000; padding:40px 0; }
	#showroom_footer_carousel .headline { font-size:20px; margin:0 0 20px 0; }
  #showroom_footer_carousel #showroom_list { margin:0 35px; }
	#showroom_footer_carousel .owl-nav .owl-prev { left:-26px; font-size:16px; }
  #showroom_footer_carousel .owl-nav .owl-next { right:-26px; font-size:16px; }
}




/* ----------------------------------------------------------------------
 お知らせアーカイブページ
---------------------------------------------------------------------- */
#news_archive { margin:115px 0 70px; width:auto; }
.news_list { margin:0 60px; }
.news_list .content { width:50%; }
.news_list .image_wrap { width:50%; }
.news_list .news_cat{ display:none; }
@media screen and (max-width:950px) {
  .news_list { display:block; }
	.news_list .item { width:100%; height:180px; margin:0 0 10px 0; }
}
@media screen and (max-width:750px) {
  #news_archive { margin:40px 0; }
  .news_list { margin:0; }
	.news_list .item { height:114px; margin:0 0 3px 0; }
	.news_list .item:last-of-type { margin-bottom:0; }
	.news_list .content_inner { padding:0 20px; }
	.news_list .title { max-height:4.8em; }
	.news_list .title span { -webkit-line-clamp:3; }
	.news_list .date { font-size:12px; }
}




/* ----------------------------------------------------------------------
 お知らせ詳細ページ
---------------------------------------------------------------------- */
@media screen and (max-width:750px) {
  #recent_news { margin-top:40px; }
	#recent_news .post_list .item a { height:auto; padding:14px 20px 8px; display:block; }
  #recent_news .post_list .date { font-size:12px; margin:0 0 5px 0; }
  #recent_news .post_list .title { font-size:14px; text-overflow:clip; white-space:normal; overflow:visible; }
}




/* ----------------------------------------------------------------------
 ブログアーカイブページ
---------------------------------------------------------------------- */
#blog_archive {  margin:115px 0 70px; width:auto; }
body.author #blog_archive { margin-top:40px; }
body.author .author_profile { margin:-15px 0px 20px; max-width:inherit; border:none; }
@media screen and (max-width:950px) {
   body.author .author_profile { margin:-15px 0 20px; }
	.blog_list { margin-bottom:-6px; margin-right:-6px; }
  .blog_list .item { width:calc(50% - 6px); margin:0 6px 6px 0; }
  .blog_list .item:nth-child(3n) { margin-right:6px; }
  .blog_list .item:nth-child(2n) { margin-right:0px; }
}
@media screen and (max-width:750px) {
  #blog_archive { margin:40px 0; }
  body.author .author_profile { margin:-30px 0 10px; border:none; }
  body.author .author_profile .avatar_area { width:90px; height:90px; }
  body.author .author_profile .info { -webkit-width:calc(100% - 90px); width:calc(100% - 90px); }
	.blog_list .image_link { height:110px; }
	.blog_list .title { padding:12px 20px 4px; }
	.blog_list .title h3 { max-height:4.8em; }
	.blog_list .title span { -webkit-line-clamp:3; }
	.blog_list .meta { padding:15px 20px; }
	.blog_list .meta li { float:none; font-size:12px; }
	.blog_list .meta li:last-of-type { margin-top:10px; }
}
@media screen and (max-width:550px) {
  .blog_list .title { min-height:77px; }
}


/* ページナビ */
@media screen and (max-width:750px) {
  .page_navi { margin:40px 20px 1px; }
	.page_navi li { margin-bottom:-1px; }
}

@media screen and (max-width: 750px){
  .page_navi .next, .page_navi .prev {
  display: none;
  }
  .page_navi a, .page_navi a:hover, .page_navi span{
  width: 45px;
  height: 45px;
  line-height: 45px;
  }
  }

/* ----------------------------------------------------------------------
 ページヘッダー
---------------------------------------------------------------------- */
#page_header { height:350px; }
#page_header_inner { width:100% !important; padding:0 60px; webkit-box-sizing:border-box; box-sizing:border-box; }
@media screen and (max-width:750px) {
  #page_header { height:270px; }
  #page_header_inner { padding:0 45px; }
  #page_header .desc { font-size:15px; margin:10px 0 -5px; }
	#page_header .bg_image.pc { display:none; }
	#page_header .bg_image.mobile { display:block; }
}
@media screen and (max-width:550px) {
  #page_header { height:220px; }
}


/* 説明文 */
#archive_header_desc { padding:0 60px; }
@media screen and (max-width:750px) {
  #archive_header_desc { padding:0 40px; }
  #showroom_archive #archive_header_desc { padding:0 20px; }
  #archive_header_desc { margin:-5px 0 40px 0; }
	#archive_header_desc .desc { line-height:2; margin-top:7px; }
}


/* パンくずリンク */
#bread_crumb { position:relative; top:0px; border-bottom:1px solid #ddd; margin:0 0 40px; }
#bread_crumb:not(#main_col &gt; #bread_crumb) {
  padding-left: 20px;
  padding-right: 20px;
}
body.page-template-default #main_contents #bread_crumb{
  margin-top: -60px;
}
#bread_crumb ul { width:auto; padding:0 20px; }
#bread_crumb li { margin:0 5px 0 0; padding:0 15px 0 0; }
#bread_crumb li:after { line-height:46px; height:45px; bottom:-16px; }
#bread_crumb li a { height:45px; line-height:46px; }
@media screen and (max-width:900px) {
  #bread_crumb { width:auto; margin:0 -20px 20px; }
}

@media screen and (max-width:750px) {
  body.page-template-default #main_contents #bread_crumb{
    margin-top: -40px;
  }
}




/* ----------------------------------------------------------------------
 ヘッダー
---------------------------------------------------------------------- */
#header {
	height:60px; webkit-box-sizing:border-box; box-sizing:border-box;
  -webkit-transition: opacity 0.35s ease, background-color 0.35s ease; transition: opacity 0.35s ease, background-color 0.35s ease;
}
.open_menu #header { opacity:0; }
.open_menu body.single #header { opacity:1; }
.open_menu body.single.header_fix_mobile #header { opacity:0; }
.mobile body.header_fix_mobile #header {
	position:fixed; top:0px; left:0px;
  -webkit-animation: shadow_animation 0.7s esase forwards 0.2s;
  animation: shadow_animation 0.7s ease forwards 0.2s;
}
.mobile body.hide_global_menu.header_fix_mobile #header { position:absolute; }
.mobile .single.header_fix_mobile, .mobile body.hide_header_image.header_fix_mobile { padding-top:60px; }
.mobile body.hide_header_image.header_fix_mobile #header.active:after { display:block; }
.mobile body.hide_header_logo.hide_global_menu.hide_header_image.header_fix_mobile { padding-top:0px; }


/* ロゴ */
#header_logo a { height:60px; line-height:60px; padding:0 20px !important; }
#header_logo .logo_image.pc { display:none; }
#header_logo .logo_image.mobile { display:block; }
#index_header_logo { left:20px; top:20px; }
@media screen and (max-width:750px) {
  #index_header_logo .logo_image.mobile { display:block; }
  #index_header_logo .logo_image.pc { display:none; }
}


/* メニューボタン */
#global_menu_button {
  position:absolute; z-index:2; right:0px; bottom:0px;
  display:inline-block; font-size:11px; width:60px; height:60px; line-height:60px; text-decoration:none; text-align:center;
}
#global_menu_button span {
  width:22px; height:2px; background:#fff; display:block; position:absolute;
  -webkit-transition-property:background-color; -webkit-transition-duration:0.2s; -webkit-transition-timing-function:ease;
  transition-property:background-color; transition-duration:0.2s; transition-timing-function:ease;
	-webkit-transition: all 0.3s ease; transition: all 0.3s ease;
}
#global_menu_button span:nth-child(1) { top:24px; left:20px; }
#global_menu_button span:nth-child(2) { top:30px; left:20px; }
#global_menu_button span:nth-child(3) { top:36px; left:20px; }
#global_menu_button:hover span { opacity:0.5; }
body.hide_global_menu #global_menu_button { display:none !important; }


/* メガメニュー */
.megamenu { display:none; }


/* グローバルメニュー */
#header #global_menu { display:none; }
#mobile_menu { width:100%; margin:0; }
#mobile_menu ul { margin:0; }
#mobile_menu li ul { display:none; }
#mobile_menu a {
  position:relative; display:block;  margin:0; padding:0 60px 0 20px; height:60px; line-height:60px; overflow:hidden; text-decoration:none;
  color:#fff; font-size:13px; border-bottom:1px solid #ddd;
  -webkit-box-sizing:border-box; box-sizing:border-box;
  overflow:hidden; white-space:nowrap; text-overflow:ellipsis; visibility:visible;
}
#mobile_menu a:hover { color:#fff; }
#mobile_menu ul ul a { padding-left:32px; }
#mobile_menu ul ul ul a { padding-left:47px; }
#mobile_menu ul ul ul ul a { padding-left:60px; }


/* グローバルメニュー（子メニュー） */
#mobile_menu li { position:relative; }
#mobile_menu .child_menu_button { display:block; position:absolute; text-align:center; width:60px; height:60px; right:0px; top:-1px; z-index:9; cursor:pointer; }
#mobile_menu .child_menu_button .icon:before {
  font-family:'design_plus'; content:'\e90e'; color:#fff; text-align:center;
  display:block; font-size:12px;
  position:absolute; right:24px; top:29px;
}
#mobile_menu .child_menu_button.active .icon:before, #mobile_menu .child_menu_button:hover .icon:before { color:#fff; border-color:#fff; }
#mobile_menu li.open &gt; .child_menu_button .icon:before { content:'\e911'; }
#mobile_menu li.open &gt; ul {  }
#mobile_menu .child_menu_button:hover { background:rgba(0,0,0,0.2); }


/* ドロワーメニュー　閉じるボタン */
#drawer_menu .close_button { display:block; width:100%; height:60px; position:relative; cursor:pointer; border-bottom:1px solid rgba(255,255,255,0.2); }
#drawer_menu .close_button:before {
  font-family:'design_plus'; color:#fff; font-size:18px; display:block; 
  content:'\e91a'; position:absolute; top:24px; right:17px;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}


/* 検索フォーム */
#header_search { display:none; }
#footer_search { max-width:300px; height:45px; position:relative; overflow:hidden; background:rgba(255,255,255,0.2); margin:30px auto; }
#footer_search .input_area input {
  width:calc(100% - 45px); color:#fff; height:45px; padding:0 10px; border:none; background:none; z-index:1;
  position:absolute; left:0px; top:0px;
  -webkit-box-sizing:border-box; box-sizing:border-box;
}
#footer_search:hover .input_area input, #footer_search.active .input_area input { left:0px; }
#footer_search .button input { background:none; width:45px; height:45px; border:none; position:absolute; right:0px; pointer-events:none; z-index:2; }
#footer_search .button label { background:none; display:block; width:45px; height:45px; position:absolute; top:0px; right:0px; cursor:pointer; z-index:2; }
#footer_search .button label:before {
  font-family:'design_plus'; color:#fff; font-size:18px; content:'\e915'; display:block; position:relative; top:16px; left:16px;
  -webkit-transition: all 0.2s ease; transition: all 0.2s ease;
}
#footer_search .button label:hover:before { color:#0b8a97; }
@media screen and (max-width:450px) {
  #footer_search { margin:30px 20px; }
}


/* バナー */
#mobile_banner { }
#mobile_banner img { display:block; margin:0 auto; max-width:100%; height:auto; }
#mobile_banner .banner { margin:20px; }


/* メッセージ */
#header_message { padding:12px 20px; min-height:40px; }
html.open_menu #header_message { display:block; }
#close_header_message { width:60px; }
#header_message.show_close_button { padding-right:55px; }
@media screen and (max-width:750px) {
  #header_message { font-size:12px; }
}


/* サイドボタン */
@media screen and (max-width:950px) {
  #side_menu { display:none; }
}




/* ----------------------------------------------------------------------
 ブログ詳細ページ
---------------------------------------------------------------------- */
#article { max-width:770px; margin:0 auto; }
/* タイトルエリア */
@media screen and (max-width:950px) {
  #post_image { height:350px; }
}
@media screen and (max-width:750px) {
  #post_title { margin-bottom:20px; }
  #post_title .meta_top { margin:10px 0 0 0; }
  #post_title .meta_top li { font-size:12px; margin:0 10px 0 0; }
	#post_title .update:before { top:-3px; }
  #post_image { width:calc(100% + 40px); height:300px; margin:0 -20px 40px; }
	#post_image_wrap { width:calc(100% + 40px); position:relative; margin:0 -20px 33px; padding-top:57%; }
  #post_image { position:absolute; top:0; left:0; width:100%; height:100%; margin:0; }
}


/* SNSボタン */
@media screen and (max-width:750px) {
  #single_share_top { margin:0 0 40px 0; }
  #single_share_top .share-top { }
  #single_share_bottom { margin:40px 0 0; }
  #single_share_bottom .share-btm { margin-bottom:0 !important; padding:0; }
  #single_share_top .mt10, #single_share_top .mt10 { margin:0 !important; }
  #single_share_bottom .mb45, #single_share_bottom .mb45 { margin:0 !important; }
  .share-type1 ul { text-align:center; margin-bottom:-5px !important; }
  .share-type3 ul { text-align:center; margin-bottom:-5px !important; }
  .share-type2 ul.type2 { text-align:center; margin-bottom:-5px !important; }
  .share-type4 ul.type4 { text-align:center; margin-bottom:-5px !important; }
  .sns_default_top  { text-align:center; margin-bottom:-5px !important; }
}


/* コピーボタン */
@media screen and (max-width:750px) {
  #single_copy_title_url_top { margin:0 0 30px; }
  #single_copy_title_url_bottom { margin:40px 0 0; }
  .single_copy_title_url_btn { border-width:2px; font-size:12px; line-height:46px; min-width:250px; }
}
@media screen and (max-width:550px) {
}


/* メタ情報 */
#post_meta_bottom { padding:15px 20px 13px; }
#post_meta_bottom li { display:block; margin:0 0 5px 0; padding:0 0 0 25px; border-right:none; }
#post_meta_bottom li:last-child { border:none; margin:0; }
#post_meta_bottom li:before { line-height:1.5; }
@media screen and (max-width:750px) {
  #post_meta_bottom { margin:40px 0 0; }
}


/* ページ分割 */
@media screen and (max-width:750px) {
  #post_pagination { padding:5px 0 0; }
  #post_pagination a, #post_pagination p { font-size:12px; width:45px; height:45px; line-height:45px; }
  #p_readmore { padding:5px 0 0; margin:0; }
}


/* プロフィール */
.author_profile { max-width:770px; margin:60px auto 0; }
@media screen and (max-width:750px) {
  .author_profile { padding:20px 20px 15px; }
  body.single .author_profile { margin:40px 0 0; }
  .author_profile .avatar_area { width:90px; height:90px; }
  .author_profile .info { -webkit-width:calc(100% - 90px); width:calc(100% - 90px); }
  .author_profile .info_inner { padding:0 0 0 20px; }
  .author_profile .name { font-size:18px; margin:0 0 7px 0; }
	.author_profile .author_link { margin-top:5px; }
  .author_profile .desc { font-size:12px !important; }
	body.single .author_profile .desc { line-height:2; }
}


/* 広告 */
@media screen and (max-width:750px) {
  #single_banner_top { width:auto; }
  #single_banner_bottom { width:auto; margin:40px 0 -5px; }
  #single_banner_shortcode { padding:0 0 20px; }
}


/* ナビゲーション */
#next_prev_post { margin:40px 0 0 0 ; padding-right:0px; }
@media screen and (max-width:750px) {
  #next_prev_post { border:none; margin:40px 0 0; }
  #next_prev_post .item { height:52px; margin:0; padding:0 !important; }
  #next_prev_post a {
    height:50px; line-height:50px; position:relative; background:#fff;
    -webkit-box-sizing:border-box; box-sizing:border-box;
  }
  #next_prev_post .image_wrap { display:none; }
  #next_prev_post .title_area { position:relative; bottom:auto; left:auto; color:#000; padding:0px; }
  #next_prev_post .title { display:none; }
  #next_prev_post .nav { display:block; text-align:center; }
  #next_prev_post a:before {
    content:'\e90f'; font-family:'design_plus'; font-size:11px; top:1px; left:15px; position:absolute; background:none; width:auto; height:auto;
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  }
  #next_prev_post .next_post a:before { content:'\e910'; left:auto; right:15px; }
}


/* 関連記事 */
#related_post { margin:70px auto 0; max-width:770px; }
@media screen and (max-width:750px) {
	#related_post { margin:40px -20px 0; }
  #related_post .headline { font-size:20px; }
	#related_post .item { width:50%; }
	#related_post .image_wrap { height:112px; }
	#related_post .item:before { left:auto; right:0px; }
	#related_post .item:nth-child(3n):after, #related_post .item:last-of-type:after { display:none; }
	#related_post .item:nth-child(even):before { display:none; }
	#related_post .category { padding:0 15px; }
}




/* ----------------------------------------------------------------------
 その他のページ
---------------------------------------------------------------------- */
/* 404ページ*/
#page_404_header .content { padding:0 30px; }




/* ----------------------------------------------------------------------
 フッター
---------------------------------------------------------------------- */
/* フッターバナー */
@media screen and (max-width:1050px) {
  #footer_banner .image_wrap { height:210px; }
	#footer_banner .title_area { height:60px; padding:0 20px; }
  #footer_banner .sub_title { margin-top:6px; }
}
@media screen and (max-width:750px) {
  #footer_banner { display:block; }
  #footer_banner .image_wrap { height:190px; }
}


/* ロゴエリア */
#footer_top { width:auto; padding:70px 60px 65px; }
@media screen and (max-width:750px) {
  #footer_top { padding:40px 20px 35px; }
	#footer_logo .logo_image.pc { display:none; }
  #footer_logo .logo_image.mobile { display:block; }
}


/* フッターメニュー */
@media screen and (max-width:950px) {
	#footer_menu { padding:20px 0; }
  #footer_menu ul li { display:block; font-size:14px; margin:20px 15px; }
}


/* コピーライト */
@media screen and (max-width:750px) {
  #copyright { line-height:50px; height:50px; }
}


/* ページ上部へ戻るボタン */
#return_top { display:block !important; }
@media screen and (max-width:750px) {
  #return_top a { height:50px; width:50px; line-height:50px; }
}


/* 固定フッターが有効時、モバイルデバイス調整用 */
body.show_footer_bar { padding-bottom:0px; }
body.show_footer_bar #return_top.active { -webkit-transform: translate3d(0,-50px,0); transform: translate3d(0,-50px,0); }
body.home.show_footer_bar #container { padding-bottom:0px; }
@media screen and (max-width:950px) {
  body.show_footer_bar #footer_button.active { -webkit-transform: translate3d(0,-50px,0); transform: translate3d(0,-50px,0); }
}




/* ----------------------------------------------------------------------
 ウィジェット
---------------------------------------------------------------------- */
/* 基本設定 */
.widget_content { width:calc(50% - 20px); margin:0 40px 40px 0; padding:0; border:none; z-index:2; position:relative; }
.widget_content:nth-child(2n) { margin-right:0; }
.widget_headline { background:#00729f; color:#fff; height:60px; line-height:60px; padding:0 20px; }
@media screen and (max-width:900px) {
  .widget_content, .widget_content:nth-child(2n) { width:auto; margin:0 0 40px 0; }
  .widget_content:last-of-type { margin:0; }
}
@media screen and (max-width:750px) {
  .widget_headline { height:50px; line-height:50px; }
}


/* カテゴリー一覧 */
@media screen and (max-width:750px) {
  .category_list_widget li a { height:50px; line-height:50px; }
}


/* タブ記事 */
@media screen and (max-width:750px) {
  .widget_tab_post_list_button div { height:50px; line-height:50px; }
	.widget_tab_post_list { top:50px; }
}


/* アーカイブ　ドロップダウン */
@media screen and (max-width:750px) {
  .p-dropdown__title { height:50px; line-height:50px; }
}


/* 検索 */
@media screen and (max-width:750px) {
  #searchform { height:50px; }
  #searchform #s { height:50px; }
  #searchform #searchsubmit { height:50px; }
  #searchform .submit_button  { height:50px; }
  #searchform .submit_button:before { height:50px; line-height:50px; }
}




/* ----------------------------------------------------------------------
 コメント
---------------------------------------------------------------------- */
#comments { margin:70px auto 0; padding:0 0 0 0; max-width:770px; }
#comments .design_headline2 { margin:0 0 70px 0 !important; }
@media screen and (max-width:750px) {
  #comments { margin:40px 0 40px 0; }
	#comments .design_headline2 { font-size:18px; margin:0 -20px 35px !important; }
}


/* コメント・トラックバックのタブ */
#comment_tab li a, #comment_tab li p { padding:14px 15px; font-size:12px; }
@media screen and (max-width:750px) {
  #comment_tab li a, #comment_tab li p { background:#eee; }
}




/* ----------------------------------------------------------------------
 その他
---------------------------------------------------------------------- */

/* パスワード保護 */
.c-pw__box { padding:20px; margin:0 0 20px 0; }
.c-pw__box-label { display:block; margin:0 0 15px 0; text-align:center; }
.c-pw__box-input { width:calc(100% - 160px); margin:0 10px 0 0; -webkit-box-sizing:border-box; box-sizing:border-box; }
.c-pw__btn--submit { width:150px; min-width:inherit; -webkit-box-sizing:border-box; box-sizing:border-box; }
@media screen and (max-width:750px) {
  .c-pw__box { padding:15px; }
  .c-pw__box-input { width:calc(100% - 105px); margin-right:5px; }
  .c-pw__btn--submit { width:100px; }
}


/* Cardlink style - カードリンクのスタイル */
.cardlink { margin:30px 0 35px !important; padding:15px;  }



